/*************************************************************
  game.css

  Written by Mr Bob, Term 4 2022
  Style game page's left hand info panel
*************************************************************/
/*-----------------------------------------------------------*
  Set in page div height. 12% + 79% = 91% 
/*----------------------------------------------------------*/
.hMain {
  height:  88vh;  /* this div 88% visible screen height */ 
}

/*-----------------------------------------------------------*
  Game page styling
/*----------------------------------------------------------*/
.d_row {
  margin-top: 8px;
}

hr {
  height:2px;
  border-width:0;
  color:gray;
  background-color:gray;
  margin: 4px 0px 0px 0px; 
  padding: 0px;
}

.tUser {
  margin: 8px 0px 4px 8px;
}

table, TD {
  border: 1px solid;
}

/*************************************************************
/*    END OF CSS
*************************************************************/