/*************************************************************
  game.css

  Written by Mr Bob, Term 4 2022
  Style common game page elements
*************************************************************/
html, body {
  margin: 0px;
  padding: 0px;
  font-family: tahoma;
  color: black;
  height: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px;
}

#img_photoURL {
  width: 40px;
  height: 40px;
  margin: 0px;
}

.header-title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

#b_admin {
  display: none; 
  height: 40px;
}

.user {
  margin: 4px;
}

/*-----------------------------------------------------------*
  Instruction & Leaderboard section styling
/*----------------------------------------------------------*/
.s_inst {
  display: none;  
}

.dispInline {
  display: inline;
}

/*-----------------------------------------------------------*
  Firebase status div styling
/*----------------------------------------------------------*/
#s_fbStatus {
  display: block;
  margin: 0px;
  padding-top: 4px;
  font-size: 14px;
}

.p_fbStatus {
  display: inline-block;
  margin: 0px;
  padding-top: 4px;
  margin-right: 20px; /* Add some spacing between paragraphs */
}

/*************************************************************
/*    END OF CSS
*************************************************************/