/********************************************************
  html.css
  mr Bob's table styling
********************************************************/
html, body , .container {
  height: 100%;
  margin: 0;
}

#s_table {
  height: 95vh;
}

/********************************************************
  END OF STYLING
********************************************************/